---
title: Order Checkout Flow
---

p.-text Basic Order Checkout Flow template. Illustrate how a order process would be.

.example.-mb--3.-bg--grey-10
  header.o-header.-inverse
    .o-header__content
      a.a-brand(href="#", aria-label="CenturyLink")
        svg(viewBox='0 0 204 41' xmlns='http://www.w3.org/2000/svg')
          path(fill='#FFFFFF', d='M200.043 18.958v-.916h.778c.341 0 .672.055.672.449 0 .533-.554.467-.949.467h-.501zm0 .33h.606l.797 1.258h.408l-.842-1.258c.493-.038.877-.244.877-.79 0-.507-.251-.784-.989-.784h-1.219v2.832h.362v-1.258zm.567 1.943c-1.211 0-2.088-.87-2.088-2.088 0-1.205.877-2.074 2.088-2.074 1.206 0 2.075.869 2.075 2.074 0 1.218-.869 2.088-2.075 2.088zm0 .396a2.477 2.477 0 0 0 0-4.953 2.48 2.48 0 0 0-2.482 2.469 2.485 2.485 0 0 0 2.482 2.484zm-12.594.514V11.074h-3.919v18.875h3.919v-7.133l.05-.052 3.949 7.185h4.573l-4.81-7.525 4.523-5.75h-4.365l-3.87 5.513-.05-.046zm-16.371-3.797v-1.515h-3.894v13.12h3.92v-7.89c.053-1.908 1.123-3.005 2.353-3.005 1.934 0 2.33 1.591 2.353 3.005v7.89h3.924v-8.544a8.98 8.98 0 0 0-.265-2.092c-.469-1.913-3.007-2.876-4.312-2.876-1.987 0-3.214.782-4.028 1.987l-.051-.08zm-11.577 11.605h3.923V16.828h-3.923v13.121zm-.13-15.5h4.184v-3.375h-4.184v3.375zm-14.56 15.5h12.235v-3.133h-8.181V11.074h-4.054v18.875zm-9.572 5.025l7.711-18.145h-2.663l-4.189 10.353-4.107-10.353h-2.766l5.462 13.071-1.989 5.074h2.541zm-12.105-5.025v-6.504c0-2.773.548-4.446 3.687-4.548.339 0 .732 0 1.07.128v-2.351c-.284 0-.548-.029-.861-.029-1.806 0-3.475.915-3.841 2.717h-.055v-2.533h-2.484v13.12h2.484zm-8.285-13.12v6.745c0 .316-.027 1.858-.495 3.083-.528 1.363-1.912 1.883-2.931 1.883-2.38 0-2.901-1.671-2.901-3.948v-7.763h-2.486v8.783c0 2.645 1.57 4.731 4.316 4.731 1.829 0 3.503-.681 4.497-2.323h.053v1.929h2.428v-13.12h-2.481zm-16.434-.004h-2.246v1.802h2.246v8.295c0 1.752.131 1.803.578 2.43.414.578 1.071.786 1.464.865a9.228 9.228 0 0 0 1.674.126c.57 0 1.123-.126 1.694-.155v-1.907a5.635 5.635 0 0 1-1.303.154c-.891 0-1.623-.445-1.623-1.382v-8.426h3.033v-1.802h-3.033v-3.578l-2.484.786v2.792zm-12.923 1.938v-1.934h-2.434v13.12h2.485v-7.133c0-2.561.681-3.141 1.046-3.503 1.046-1.048 2.403-.969 2.403-.969 2.097 0 3.01 1.175 3.01 3.345v8.26h2.486v-9.066c0-4.209-4.056-4.446-4.971-4.446-1.306 0-3.135.677-3.974 2.326h-.051zm-14.234 3.378c0-2.151 1.228-3.902 3.294-3.902 2.404 0 3.4 1.7 3.349 3.902h-6.643zm0 1.719h9.255v-1.231c0-3.63-1.855-6.115-5.778-6.192-4.157 0-6.089 3.217-6.089 7.06 0 3.87 1.673 6.846 5.882 6.846 3.138 0 5.436-1.488 5.83-4.467h-2.613c-.292 1.909-1.258 2.664-3.193 2.664-2.533 0-3.475-2.376-3.294-4.68zm-7.262-7.921h2.742c-.285-3.372-3.009-5.15-6.642-5.256-6.326-.182-8.361 5.206-8.361 9.835 0 5.28 2.22 9.825 7.79 9.825 3.683 0 6.875-2.086 7.136-5.25h-2.747c-.312 2.009-2.145 3.003-4.153 3.003-4.106 0-5.287-3.682-5.287-7.578 0-3.325.863-7.588 5.521-7.588 1.935 0 3.87 1.203 4.001 3.009zM37.933 2.314v-.915h.777c.343 0 .672.054.672.449 0 .533-.553.466-.949.466h-.5zm0 .331h.606l.797 1.257h.408l-.843-1.257c.494-.039.876-.245.876-.791 0-.506-.25-.782-.987-.782h-1.22v2.83h.363V2.645zm.567 1.942c-1.212 0-2.088-.87-2.088-2.087 0-1.205.876-2.074 2.088-2.074 1.205 0 2.074.869 2.074 2.074 0 1.217-.869 2.087-2.074 2.087zm0 .395a2.477 2.477 0 0 0 0-4.952 2.481 2.481 0 0 0-2.483 2.47A2.484 2.484 0 0 0 38.5 4.982zM22.335 41a20.432 20.432 0 0 0 6.789-1.819l-6.789-11.759V41zM18.634.03a20.352 20.352 0 0 0-6.791 1.817l6.791 11.758V.03zm8.759 22.333l11.761 6.787a20.38 20.38 0 0 0 1.815-6.787H27.393zM1.814 11.873A20.503 20.503 0 0 0 0 18.662h13.578L1.814 11.873zM0 22.363a20.474 20.474 0 0 0 1.814 6.787l11.764-6.787H0zm40.969-3.701a20.552 20.552 0 0 0-1.815-6.789l-11.761 6.789h13.576zM32.33 37.329a20.673 20.673 0 0 0 4.97-4.971L25.542 25.57l6.788 11.759zm4.97-28.66A20.589 20.589 0 0 0 32.331 3.7l-6.787 11.755L37.3 8.669zM11.843 39.181A20.45 20.45 0 0 0 18.634 41V27.422l-6.791 11.759zM29.124 1.847A20.358 20.358 0 0 0 22.335.03v13.575l6.789-11.758zM8.639 3.7A20.589 20.589 0 0 0 3.67 8.669l11.758 6.786L8.639 3.7zM3.67 32.358l11.758-6.788-6.789 11.759a20.687 20.687 0 0 1-4.969-4.971z')
      .o-header__start
        span.o-header__title.-text--muted Business Everywhere
      .o-header__end
        .m-dropdown.-mr--1
          button.a-btn.-flat.-inverse.-px--1.m-dropdown__trigger(data-position='bottom-end', id='support') Support
          .m-dropdown__menu(style='width:10rem;')
            a.m-dropdown__menu-item.-active(href='#') link 1
            a.m-dropdown__menu-item(href='#') link 2
            a.m-dropdown__menu-item(href='#') link 3
        div
          .a-avatar.-sm3.-grey
            i(class='a-icon icon-user')
        .m-dropdown.-mr--1
          button.a-btn.-flat.-inverse.-px--1.m-dropdown__trigger(data-position='bottom-end', id='user') Tim Anderson
          .m-dropdown__menu(style='width:10rem;')
            a.m-dropdown__menu-item.-active(href='#') link 1
            a.m-dropdown__menu-item(href='#') link 2
            a.m-dropdown__menu-item(href='#') link 3
  .a-divider.-inverse.-bg--black.-m--0
  .-bg--black
    ul.a-steps.-horizontalLabels.-inverse.-py--2.-m--0.-pr--4.-mw--640.-m--auto
      li.-completed
        div.a-steps__icon
        a(href='#') Customer information
        div.a-steps__line
      li.-active
        div.a-steps__icon
        a(href='#') Configure locations
        div.a-steps__line
      li
        div.a-steps__icon
        a(href='#') Checkout
  div.-d--flex
    div(style='min-width:200px').-br--1.-d--flex.-flex--column.-justify-content--between
      div
        div.-d--flex.-flex--row.-justify-content--start.-pl--3.-py--1
          h5 Locations
          span#locations.-d--none.-my--1.-ml--1 (1)
        ul.a-tabs.-vertical.-large
          li#locationActiveTab.-active.-bg--grey-20
              a(href='#') New Location
          li#locationTab(style='display:none')
            a(href='#').-text--larger
              i.a-icon.icon-map-marker.-mr--1
              | CenturyLink
            div.-pl--6
              p.-text--small.-mt--0
                | 1100 112th Avenue <br />
                | NE, Suite 400<br />
                | Bellevue, WA 98004
      div.-p--1.-d--flex.-flex--row.-justify-content--start.-align-items--center.-bt--1
        i.a-icon.icon-circle-plus-outline.-sm3.-text--brand.-ml--1
        h6.-text--brand.-ml--1 Add Location
    .-flex--grow1.-h--100#checkout(style='overflow:auto;')
      .-px--5.-py--2.-m--auto.-mw--640
        .m-epanel.-active(data-chi-epanel-group='checkout')
          .m-epanel__header
            span.m-epanel__number 1
            h4.m-epanel__title Location
            .m-epanel__content
              .m-epanel__collapse
                .-done--only.-text
                  | CenturyLink<br />
                  | 1100 112th Avenue NE<br />
                  | Suite 400<br />
                  | Bellevue, WA 98004
            .m-epanel__action.-done--only
              button.a-btn.-brand.-flat.-pill(data-chi-epanel-action='active') Change
          .m-epanel__collapse
            .-active--only
              .m-epanel__body
                .m-epanel__content
                  h5.-mb--3 Enter service address
                  .a-inputWrapper.-floatingLabel.-mb--1(id='floating-label-1')
                    input(type='text', class=`a-input -xl -mr--3`, id='i1')
                    label(for='1') Location name
                  .a-inputWrapper.-floatingLabel.-mb--1(id='floating-label-2')
                    input(type='text', class=`a-input -xl -mr--3`, id='i2')
                    label(for='2') Address line 1
                  .a-inputWrapper.-floatingLabel.-mb--1(id='floating-label-3')
                    input(type='text', class=`a-input -xl -mr--3`, id='i3')
                    label(for='3') Address line 2
                  .m-formGroup.-mb--1
                    .a-inputWrapper.-floatingLabel.-mb--1.-mr--1.-w--50(id='floating-label-4')
                      input(type='text', class=`a-input -xl`, id='i4')
                      label(for='4') City
                    .a-inputWrapper.-floatingLabel.-mb--1.-mr--1.-w--50(id='floating-label-5')
                      select(class='a-input -xl -mr--1', id='floating-label-select')
                        option
                        option State 1
                        option State 2
                      label(for='floating-label-select') Select State
                    .a-inputWrapper.-floatingLabel.-mb--1(id='floating-label-6')
                      input(type='text', class=`a-input -xl -mr--3`, id='i5', style='max-width: 10rem;')
                      label(for='6') Zip
                .m-epanel__footer.-justify-content--end
                  button.a-btn.-lg.-brand.-pill.-ml--2(data-chi-epanel-action='next', id='location') Continue
        .m-epanel.-disabled(data-chi-epanel-group='checkout')
          .m-epanel__header
            span.m-epanel__number 2
            h4.m-epanel__title Packages
            .m-epanel__content
              .m-epanel__collapse
                .-done--only.-text
                  | Team (x50)
            .m-epanel__action.-done--only
              button.a-btn.-brand.-flat.-pill(data-chi-epanel-action='active') Change
          .m-epanel__collapse
            .-active--only
              .m-epanel__body
                .m-epanel__content
                  div.-d--flex.-flex--row.-justify-content--between
                    h5.-mt--0 Add packages
                    a(href='#').-text--small.-text--brand Compare features ›
                  .packages.-pb--2
                    .a-grid.-mb--3
                      .a-col
                        .a-card#1
                          .a-card__content.-text--center.-py--3
                            i(style='top:15px;right:15px;').a-icon.icon-circle-info-outline.-sm.-text--muted.-position--absolute
                            h6.-mt--0
                              | Calling
                            .a-price.-sm
                              | $20
                            p.-text--muted.-text--small per user /mo
                            .m-inputNumber.-pill.-m--auto#m-inputNumber-1
                              input#input-number-1.a-input(type='number', value='0', min='0')
                              button.a-btn.-icon
                                .a-btn__content
                                  i.a-icon.icon-minus
                              button.a-btn.-icon
                                .a-btn__content
                                  i.a-icon.icon-plus
                      .a-col
                        .a-card#2
                          .a-card__content.-text--center.-py--3
                            i(style='top:15px;right:15px;').a-icon.icon-circle-info-outline.-sm.-text--muted.-position--absolute
                            h6.-mt--0
                              | Team
                            .a-price.-sm
                              | $25
                            p.-text--muted.-text--small per user /mo
                            .m-inputNumber.-pill.-m--auto#m-inputNumber-2
                              input#input-number-2.a-input(type='number', value='0', min='0')
                              button.a-btn.-icon
                                .a-btn__content
                                  i.a-icon.icon-minus
                              button.a-btn.-icon
                                .a-btn__content
                                  i.a-icon.icon-plus
                    .a-grid
                      .a-col
                        .a-card#3
                          .a-card__content.-text--center.-py--3
                            i(style='top:15px;right:15px;').a-icon.icon-circle-info-outline.-sm.-text--muted.-position--absolute
                            h6.-mt--0
                              | Call Center Agent
                            .a-price.-sm
                              | $35
                            p.-text--muted.-text--small per user /mo
                            .m-inputNumber.-pill.-m--auto#m-inputNumber-3
                              input#input-number-3.a-input(type='number', value='0', min='0')
                              button.a-btn.-icon
                                .a-btn__content
                                  i.a-icon.icon-minus
                              button.a-btn.-icon
                                .a-btn__content
                                  i.a-icon.icon-plus
                      .a-col
                        .a-card#4
                          .a-card__content.-text--center.-py--3
                            i(style='top:15px;right:15px;').a-icon.icon-circle-info-outline.-sm.-text--muted.-position--absolute
                            h6.-mt--0
                              | Call Center Supervisor
                            .a-price.-sm
                              | $45
                            p.-text--muted.-text--small per user /mo
                            .m-inputNumber.-pill.-m--auto#m-inputNumber-4
                              input#input-number-4.a-input(type='number', value='0', min='0')
                              button.a-btn.-icon
                                .a-btn__content
                                  i.a-icon.icon-minus
                              button.a-btn.-icon
                                .a-btn__content
                                  i.a-icon.icon-plus
                .m-epanel__footer.-justify-content--between
                  button.a-btn.-flat.-pill.-lg(data-chi-epanel-action='previous')
                    .a-btn__content
                      .a-icon
                        svg
                          use(xlink:href='#icon-chevron-left')
                      span Back
                  button.a-btn.-lg.-brand.-pill.-ml--2(data-chi-epanel-action='next') Continue
        .m-epanel.-disabled(data-chi-epanel-group='checkout')
          .m-epanel__header
            span.m-epanel__number 3
            h4.m-epanel__title(data-chi-epanel-action='toggle') Upgrades
            .m-epanel__content
              .m-epanel__collapse
                .-done--only.-text.-text--muted(style='font-style: italic')
                  | None selected
            .m-epanel__action.-done--only
              button.a-btn.-brand.-flat.-pill(data-chi-epanel-action='active') Change
          .m-epanel__collapse
            .-active--only
              .m-epanel__body
                .m-epanel__content
                  h5.-mb--3 Choose Upgrades (optional)
                  h6 Do you need additional numbers?
                  .m-picker.-lg
                    input(type='checkbox', class='a-picker', id='up-1')
                    label(for='up-1')
                      .m-picker__content--start
                        label.-text--bold.-d--flex
                          | Additional Telephone Number
                        strong $1.00
                          span.-text--normal.-text--body.-text--small.-text--muted  per number /mo
                      .m-picker__content--end
                        .m-inputNumber.-pill.-m--auto
                          input.a-input(type='number', value='0')
                          button.a-btn.-icon
                            .a-btn__content
                              i.a-icon.icon-minus
                          button.a-btn.-icon
                            .a-btn__content
                              i.a-icon.icon-plus
                  .m-picker.-lg.-mb--3
                    input(type='checkbox', class='a-picker', id='up-2')
                    label(for='up-2')
                      .m-picker__content--start
                        label.-text--bold.-d--flex
                          | Tool-free Telephone Number
                        strong $5.00
                          span.-text--normal.-text--body.-text--small.-text--muted  per number /mo
                          span.-text--bold.-text--body.-text--small.-text--brand  First number is FREE
                      .m-picker__content--end
                        .m-inputNumber.-pill.-m--auto
                          input.a-input(type='number', value='0')
                          button.a-btn.-icon
                            .a-btn__content
                              i.a-icon.icon-minus
                          button.a-btn.-icon
                            .a-btn__content
                              i.a-icon.icon-plus
                  h6 Further extend your phone system
                  .m-picker.-lg
                    input(type='checkbox', class='a-picker', id='up-3')
                    label(for='up-3')
                      .m-picker__content--start
                        label.-text--bold.-d--flex
                          | Additional Voice Mail Box
                          i.a-icon.icon-circle-info-outline.-sm.-text--muted.-ml--1
                        strong $10.00
                          span.-text--normal.-text--body.-text--small.-text--muted  per month
                      .m-picker__content--end
                        .m-inputNumber.-pill.-m--auto
                          input.a-input(type='number', value='0')
                          button.a-btn.-icon
                            .a-btn__content
                              i.a-icon.icon-minus
                          button.a-btn.-icon
                            .a-btn__content
                              i.a-icon.icon-plus
                  .m-picker.-lg
                    input(type='checkbox', class='a-picker', id='up-4')
                    label(for='up-4')
                      .m-picker__content--start
                        label.-text--bold.-d--flex
                          | Additional Directory Listing
                          i.a-icon.icon-circle-info-outline.-sm.-text--muted.-ml--1
                        strong $1.00
                          span.-text--normal.-text--body.-text--small.-text--muted  per month
                      .m-picker__content--end
                        .m-inputNumber.-pill.-m--auto
                          input.a-input(type='number', value='0')
                          button.a-btn.-icon
                            .a-btn__content
                              i.a-icon.icon-minus
                          button.a-btn.-icon
                            .a-btn__content
                              i.a-icon.icon-plus
                  .m-picker.-lg
                    input(type='checkbox', class='a-picker', id='up-5')
                    label(for='up-5')
                      .m-picker__content--start
                        label.-text--bold.-d--flex
                          | Recepcionist Client
                          i.a-icon.icon-circle-info-outline.-sm.-text--muted.-ml--1
                        strong $7.00
                          span.-text--normal.-text--body.-text--small.-text--muted  per month
                      .m-picker__content--end
                        .m-inputNumber.-pill.-m--auto
                          input.a-input(type='number', value='0')
                          button.a-btn.-icon
                            .a-btn__content
                              i.a-icon.icon-minus
                          button.a-btn.-icon
                            .a-btn__content
                              i.a-icon.icon-plus
                  .m-picker.-lg
                    input(type='checkbox', class='a-picker', id='up-6')
                    label(for='up-6')
                      .m-picker__content--start
                        label.-text--bold.-d--flex
                          | Additional Auto Attendant
                          i.a-icon.icon-circle-info-outline.-sm.-text--muted.-ml--1
                        strong $10.00
                          span.-text--normal.-text--body.-text--small.-text--muted  per month
                      .m-picker__content--end
                        .m-inputNumber.-pill.-m--auto
                          input.a-input(type='number', value='0')
                          button.a-btn.-icon
                            .a-btn__content
                              i.a-icon.icon-minus
                          button.a-btn.-icon
                            .a-btn__content
                              i.a-icon.icon-plus
                  .m-picker.-lg
                    input(type='checkbox', class='a-picker', id='up-7')
                    label(for='up-7')
                      .m-picker__content--start
                        label.-text--bold.-d--flex
                          | Hunt Group
                          i.a-icon.icon-circle-info-outline.-sm.-text--muted.-ml--1
                        strong $10.00
                          span.-text--normal.-text--body.-text--small.-text--muted  per month
                      .m-picker__content--end
                        .m-inputNumber.-pill.-m--auto
                          input.a-input(type='number', value='0')
                          button.a-btn.-icon
                            .a-btn__content
                              i.a-icon.icon-minus
                          button.a-btn.-icon
                            .a-btn__content
                              i.a-icon.icon-plus
                  .m-picker.-lg
                    input(type='checkbox', class='a-picker', id='up-8')
                    label(for='up-8')
                      .m-picker__content--start
                        label.-text--bold.-d--flex
                          | Meet-me Bridge
                          i.a-icon.icon-circle-info-outline.-sm.-text--muted.-ml--1
                        strong $5.00
                          span.-text--normal.-text--body.-text--small.-text--muted  per month
                      .m-picker__content--end
                        .m-inputNumber.-pill.-m--auto
                          input.a-input(type='number', value='0')
                          button.a-btn.-icon
                            .a-btn__content
                              i.a-icon.icon-minus
                          button.a-btn.-icon
                            .a-btn__content
                              i.a-icon.icon-plus
                  .m-picker.-lg
                    input(type='checkbox', class='a-picker', id='up-9')
                    label(for='up-9')
                      .m-picker__content--start
                        label.-text--bold.-d--flex
                          | Meet-me Conference
                          i.a-icon.icon-circle-info-outline.-sm.-text--muted.-ml--1
                        strong $5.00
                          span.-text--normal.-text--body.-text--small.-text--muted  per month
                      .m-picker__content--end
                        .m-inputNumber.-pill.-m--auto
                          input.a-input(type='number', value='0')
                          button.a-btn.-icon
                            .a-btn__content
                              i.a-icon.icon-minus
                          button.a-btn.-icon
                            .a-btn__content
                              i.a-icon.icon-plus
                  .m-picker.-lg
                    input(type='checkbox', class='a-picker', id='up-10')
                    label(for='up-10')
                      .m-picker__content--start
                        label.-text--bold.-d--flex
                          | Call Recording
                          i.a-icon.icon-circle-info-outline.-sm.-text--muted.-ml--1
                        strong $5.00
                          span.-text--normal.-text--body.-text--small.-text--muted  per month
                      .m-picker__content--end
                        .m-inputNumber.-pill.-m--auto
                          input.a-input(type='number', value='0')
                          button.a-btn.-icon
                            .a-btn__content
                              i.a-icon.icon-minus
                          button.a-btn.-icon
                            .a-btn__content
                              i.a-icon.icon-plus
                .m-epanel__footer.-justify-content--between
                  button.a-btn.-flat.-pill.-lg(data-chi-epanel-action='previous')
                    .a-btn__content
                      .a-icon
                        svg
                          use(xlink:href='#icon-chevron-left')
                      span Back
                  button.a-btn.-lg.-brand.-pill.-ml--2(data-chi-epanel-action='next') Continue
        .m-epanel.-disabled(data-chi-epanel-group='checkout')
          .m-epanel__header
            span.m-epanel__number 4
            h4.m-epanel__title Numbers
            .m-epanel__content
              .m-epanel__collapse
                .-done--only.-text
                  | New numbers (x70) <br />
                  | 425 area code
            .m-epanel__action.-done--only
              button.a-btn.-brand.-flat.-pill(data-chi-epanel-action='active') Change
          .m-epanel__collapse
            .-active--only
              .m-epanel__body
                .m-epanel__content
                  h5.-mb--3 Choose Numbers
                  h6 New numbers
                  .m-picker
                    input(type='checkbox', class='a-picker', id='num-1')
                    label(for='num-1')
                      i.a-icon.icon-circle-plus-outline.-sm3.-text--brand.-ml--1
                      | Add numbers
                  h6 Keep and transfer existing numbers
                  .m-picker
                    input(type='checkbox', class='a-picker', id='num-2')
                    label(for='num-2')
                      i.a-icon.icon-atom.-sm3.-text--brand.-ml--1
                      | Transfer numbers
                .m-epanel__footer.-justify-content--between
                  button.a-btn.-flat.-pill.-lg(data-chi-epanel-action='previous')
                    .a-btn__content
                      .a-icon
                        svg
                          use(xlink:href='#icon-chevron-left')
                      span Back
                  button.a-btn.-lg.-brand.-pill.-ml--2(data-chi-epanel-action='next') Continue
        .m-epanel.-disabled(data-chi-epanel-group='checkout')
          .m-epanel__header
            span.m-epanel__number 5
            h4.m-epanel__title Equipment
            .m-epanel__content
              .m-epanel__collapse
                .-done--only.-text
                  | Cisco 6841 Phone
            .m-epanel__action.-done--only
              button.a-btn.-brand.-flat.-pill(data-chi-epanel-action='active') Change
          .m-epanel__collapse
            .-active--only
              .m-epanel__body
                .m-epanel__content
                  h5.-mb--3 Choose equipment
                  p.-text For best performance and easy installation, we recommend that you purchase the Cisco 6841
                    | IP phone that is pre-loaded with necessary VoIP software, and has been certified for performance on the Centurylink Network.
                  .m-picker.-lg
                    input(type='radio', class='a-picker', name='equipments', id='eq-1')
                    label(for='eq-1')
                      | Purchase equipment
                  .m-picker.-lg
                    input(type='radio', class='a-picker', name='equipments', id='eq-2')
                    label(for='eq-2')
                      .m-picker__content--start
                        | Use your existing equipment
                      .m-picker__content--end
                        span.-text--bold.-text--body.-text--right $0
                        span.-text--normal.-text--muted.-text--small no charge
                  .m-picker.-lg
                    input(type='radio', class='a-picker', name='equipments', id='eq-3')
                    label(for='eq-3')
                      .m-picker__content--start
                        | No equipment, will only use the soft client
                      .m-picker__content--end
                        span.-text--bold.-text--body.-text--right $0
                        span.-text--normal.-text--muted.-text--small no charge
                  h6.-mt--2 Select equipment
                  .a-grid.-mb--3
                    .a-col
                      .a-card#5
                        .a-card__content.-text--center.-py--3
                          h5.-mb--3
                            | Cisco 6841 Phone
                          img(src='../../assets/images/equipment1.png', alt='Cisco 6841 Phone')
                          h4.-m--0
                            | $15
                          p.-text--muted.-mt--0 per user /mo
                          .m-inputNumber.-pill.-m--auto#m-inputNumber-5
                            input#input-number-5.a-input(type='number', value='0', min='0')
                            button.a-btn.-icon
                              .a-btn__content
                                i.a-icon.icon-minus
                            button.a-btn.-icon
                              .a-btn__content
                                i.a-icon.icon-plus
                    .a-col
                      .a-card#6
                        .a-card__content.-text--center.-py--3
                          h5.-mb--3
                            | Linksys SPA122 ATA
                          img(src='../../assets/images/equipment2.png', alt='Linksys SPA122 ATA')
                          h4.-m--0
                            | $7
                          p.-text--muted.-mt--0 per user /mo
                          .m-inputNumber.-pill.-m--auto#m-inputNumber-6
                            input#input-number-6.a-input(type='number', value='0', min='0')
                            button.a-btn.-icon
                              .a-btn__content
                                i.a-icon.icon-minus
                            button.a-btn.-icon
                              .a-btn__content
                                i.a-icon.icon-plus
                .m-epanel__footer.-justify-content--between
                  button.a-btn.-flat.-pill.-lg(data-chi-epanel-action='previous')
                    .a-btn__content
                      .a-icon
                        svg
                          use(xlink:href='#icon-chevron-left')
                      span Back
                  button.a-btn.-lg.-brand.-pill.-ml--2(data-chi-epanel-action='next') Continue
        .m-epanel.-disabled(data-chi-epanel-group='checkout')
          .m-epanel__header
            span.m-epanel__number 6
            h4.m-epanel__title Shipping
            .m-epanel__content
              .m-epanel__collapse
                .-done--only.-text
                  | CenturyLink<br />
                  | 1100 112th Avenue NE<br />
                  | Suite 400<br />
                  | Bellevue, WA 98004<br /><br />
                  Strong Delivery method:<br />
                  | Free Standard shipping
            .m-epanel__action.-done--only
              button.a-btn.-brand.-flat.-pill(data-chi-epanel-action='active') Change
          .m-epanel__collapse
            .-active--only
              .m-epanel__body
                .m-epanel__content
                  h5.-mb--3 Fill the form
                .m-epanel__footer.-justify-content--between
                  button.a-btn.-flat.-pill.-lg(data-chi-epanel-action='previous')
                    .a-btn__content
                      .a-icon
                        svg
                          use(xlink:href='#icon-chevron-left')
                      span Back
                  button.a-btn.-lg.-brand.-pill.-ml--2(data-chi-epanel-action='next') Continue
        .m-epanel.-disabled(data-chi-epanel-group='checkout')
          .m-epanel__header
            span.m-epanel__number 7
            h4.m-epanel__title Activation
            .m-epanel__content
              .m-epanel__collapse
                .-done--only.-text
                  | Same date activation<br /><br />
                  Strong Activation date:<br />
                  | November 19,2018
            .m-epanel__action.-done--only
              button.a-btn.-brand.-flat.-pill(data-chi-epanel-action='active') Change
          .m-epanel__collapse
            .-active--only
              .m-epanel__body
                .m-epanel__content
                  h5.-mb--3 Select activation preference
                  .m-picker
                    input(type='radio', class='a-picker', name='equipments', id='act-1')
                    label(for='act-1')
                      | Activate all telephone numbers on the same date
                  .m-picker
                    input(type='radio', class='a-picker', name='equipments', id='act-2')
                    label(for='act-2')
                      | Activate telephone numbers individually
                  h6.-mt--2 Activation date
                  p.-text.-mt--0 The soonest all telephone numbers can be activated is November 19, 2018
                  .a-inputWrapper.-icon--right(style='max-width:16rem')
                    input(type='text', class='a-input -xl', placeholder='Placeholder', value='11/09/2018')
                    .a-icon
                      svg
                        use(xlink:href='#icon-edit')
                .m-epanel__footer.-justify-content--between
                  button.a-btn.-flat.-pill.-lg(data-chi-epanel-action='previous')
                    .a-btn__content
                      .a-icon
                        svg
                          use(xlink:href='#icon-chevron-left')
                      span Back
                  button.a-btn.-lg.-brand.-pill.-ml--2(data-chi-epanel-action='next') Continue
        .m-epanel.-disabled(data-chi-epanel-group='checkout')
          .m-epanel__header
            span.m-epanel__number 8
            h4.m-epanel__title Professional Services
            .m-epanel__content
              .m-epanel__collapse
                .-done--only.-text
                  | Professional Install
            .m-epanel__action.-done--only
              button.a-btn.-brand.-flat.-pill(data-chi-epanel-action='active') Change
          .m-epanel__collapse
            .-active--only
              .m-epanel__body
                .m-epanel__content
                  h5.-mb--3 Select professional services (optional)
                  .m-picker
                    input(type='checkbox', class='a-picker', id='pro-1')
                    label(for='pro-1')
                      .m-picker__content--start
                        div.m-formGroup
                          input(type='checkbox', class='a-input', id='pro-1')
                          label(for='pro-1')
                          | Professional Install
                        div.-text--normal.-text--body.-text--small
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.
                  .m-picker
                    input(type='checkbox', class='a-picker', id='pro-2')
                    label(for='pro-2')
                      .m-picker__content--start
                        div.m-formGroup
                          input(type='checkbox', class='a-input', id='pro-2')
                          label(for='pro-2')
                          | Portal Setup
                        div.-text--normal.-text--body.-text--small
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.
                  .m-picker
                    input(type='checkbox', class='a-picker', id='pro-3')
                    label(for='pro-3')
                      .m-picker__content--start
                        div.m-formGroup
                          input(type='checkbox', class='a-input', id='pro-3')
                          label(for='pro-3')
                          | Training Services
                        div.-text--normal.-text--body.-text--small
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie. Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices tortor. Vivamus sit amet lorem augue.
                .m-epanel__footer.-justify-content--between
                  button.a-btn.-flat.-pill.-lg(data-chi-epanel-action='previous')
                    .a-btn__content
                      .a-icon
                        svg
                          use(xlink:href='#icon-chevron-left')
                      span Back
                  button.a-btn.-lg.-brand.-pill.-ml--2(data-chi-epanel-action='done') Finish
    div(style='min-width:200px').-bl--1
      div.-p--2.-d--flex.-flex--row.-justify-content--center
        img(src='../../assets/images/cart.png', alt='Checkout Cart')
        h5.-text--left Cart
        span#quantityInit.-d--block.-text--bold.-text--brand(style='position: relative;right: 58px;') 0
        span#quantity.-d--none.-text--bold.-text--brand(style='position: relative;right: 63px;') 50
      div#empty.-d--block
        p.-text.-text--small.-text--center.-text--muted
          i Your cart is empty
      div#cart.-d--none
        h6.-pl--2.-text--white(style='background: #727679') Monthly charges
        div.-px--2
          h6.-text--bold Packages
          div.-d--flex.-flex--row.-justify-content--between
            p.-text.-text--small.-my--0
              | Team (x50)
            p.-text.-text--small.-my--0
              | $1250.00
          h6#equipment.-d--none.-text--bold Equipment
          div#equipment.-d--none.-d--flex.-flex--row.-justify-content--between
            p.-text.-text--small.-my--0
              | Cisco phone (x70)
            p.-text.-text--small.-my--0
              | $1050.00
          .a-divider
          div.-d--flex.-flex--row.-justify-content--between
            p.-text.-text--small.-my--0
              | Savings
              i.a-icon.icon-circle-info-outline.-xs.-text--muted.-ml--1
            p.-text.-text--small.-my--0
              | -$62.50
          .a-divider
          div.-d--flex.-flex--row.-justify-content--between
            h6.-text--bold Monthly total:
            h6.-text--bold(style='color:#d12a2d') $1,187.50
  .-w--100.-bg--black
    .-p--2.-d--flex.-flex--row.-justify-content--end.-m--auto
      button.a-btn.-lg.-brand.-pill.-ml--2 Checkout
  :code(lang="html")
    <div class="example -mb--3 -bg--grey-10">
      <header class="o-header -inverse">
        <div class="o-header__content">
          <a class="a-brand" href="#" aria-label="CenturyLink">
            <svg viewBox="0 0 204 41" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>centurylink-logo-white-text</title><defs><path id="a" d="M0 .03h203.079v40.91H0z"/></defs><g fill="none" fill-rule="evenodd"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><path d="M200.043 18.958v-.916h.778c.341 0 .672.055.672.449 0 .533-.554.467-.949.467h-.501zm0 .33h.606l.797 1.258h.408l-.842-1.258c.493-.038.877-.244.877-.79 0-.507-.251-.784-.989-.784h-1.219v2.832h.362v-1.258zm.567 1.943c-1.211 0-2.088-.87-2.088-2.088 0-1.205.877-2.074 2.088-2.074 1.206 0 2.075.869 2.075 2.074 0 1.218-.869 2.088-2.075 2.088zm0 .396a2.477 2.477 0 0 0 0-4.953 2.48 2.48 0 0 0-2.482 2.469 2.485 2.485 0 0 0 2.482 2.484zm-12.594.514V11.074h-3.919v18.875h3.919v-7.133l.05-.052 3.949 7.185h4.573l-4.81-7.525 4.523-5.75h-4.365l-3.87 5.513-.05-.046zm-16.371-3.797v-1.515h-3.894v13.12h3.92v-7.89c.053-1.908 1.123-3.005 2.353-3.005 1.934 0 2.33 1.591 2.353 3.005v7.89h3.924v-8.544a8.98 8.98 0 0 0-.265-2.092c-.469-1.913-3.007-2.876-4.312-2.876-1.987 0-3.214.782-4.028 1.987l-.051-.08zm-11.577 11.605h3.923V16.828h-3.923v13.121zm-.13-15.5h4.184v-3.375h-4.184v3.375zm-14.56 15.5h12.235v-3.133h-8.181V11.074h-4.054v18.875zm-9.572 5.025l7.711-18.145h-2.663l-4.189 10.353-4.107-10.353h-2.766l5.462 13.071-1.989 5.074h2.541zm-12.105-5.025v-6.504c0-2.773.548-4.446 3.687-4.548.339 0 .732 0 1.07.128v-2.351c-.284 0-.548-.029-.861-.029-1.806 0-3.475.915-3.841 2.717h-.055v-2.533h-2.484v13.12h2.484zm-8.285-13.12v6.745c0 .316-.027 1.858-.495 3.083-.528 1.363-1.912 1.883-2.931 1.883-2.38 0-2.901-1.671-2.901-3.948v-7.763h-2.486v8.783c0 2.645 1.57 4.731 4.316 4.731 1.829 0 3.503-.681 4.497-2.323h.053v1.929h2.428v-13.12h-2.481zm-16.434-.004h-2.246v1.802h2.246v8.295c0 1.752.131 1.803.578 2.43.414.578 1.071.786 1.464.865a9.228 9.228 0 0 0 1.674.126c.57 0 1.123-.126 1.694-.155v-1.907a5.635 5.635 0 0 1-1.303.154c-.891 0-1.623-.445-1.623-1.382v-8.426h3.033v-1.802h-3.033v-3.578l-2.484.786v2.792zm-12.923 1.938v-1.934h-2.434v13.12h2.485v-7.133c0-2.561.681-3.141 1.046-3.503 1.046-1.048 2.403-.969 2.403-.969 2.097 0 3.01 1.175 3.01 3.345v8.26h2.486v-9.066c0-4.209-4.056-4.446-4.971-4.446-1.306 0-3.135.677-3.974 2.326h-.051zm-14.234 3.378c0-2.151 1.228-3.902 3.294-3.902 2.404 0 3.4 1.7 3.349 3.902h-6.643zm0 1.719h9.255v-1.231c0-3.63-1.855-6.115-5.778-6.192-4.157 0-6.089 3.217-6.089 7.06 0 3.87 1.673 6.846 5.882 6.846 3.138 0 5.436-1.488 5.83-4.467h-2.613c-.292 1.909-1.258 2.664-3.193 2.664-2.533 0-3.475-2.376-3.294-4.68zm-7.262-7.921h2.742c-.285-3.372-3.009-5.15-6.642-5.256-6.326-.182-8.361 5.206-8.361 9.835 0 5.28 2.22 9.825 7.79 9.825 3.683 0 6.875-2.086 7.136-5.25h-2.747c-.312 2.009-2.145 3.003-4.153 3.003-4.106 0-5.287-3.682-5.287-7.578 0-3.325.863-7.588 5.521-7.588 1.935 0 3.87 1.203 4.001 3.009zM37.933 2.314v-.915h.777c.343 0 .672.054.672.449 0 .533-.553.466-.949.466h-.5zm0 .331h.606l.797 1.257h.408l-.843-1.257c.494-.039.876-.245.876-.791 0-.506-.25-.782-.987-.782h-1.22v2.83h.363V2.645zm.567 1.942c-1.212 0-2.088-.87-2.088-2.087 0-1.205.876-2.074 2.088-2.074 1.205 0 2.074.869 2.074 2.074 0 1.217-.869 2.087-2.074 2.087zm0 .395a2.477 2.477 0 0 0 0-4.952 2.481 2.481 0 0 0-2.483 2.47A2.484 2.484 0 0 0 38.5 4.982zM22.335 41a20.432 20.432 0 0 0 6.789-1.819l-6.789-11.759V41zM18.634.03a20.352 20.352 0 0 0-6.791 1.817l6.791 11.758V.03zm8.759 22.333l11.761 6.787a20.38 20.38 0 0 0 1.815-6.787H27.393zM1.814 11.873A20.503 20.503 0 0 0 0 18.662h13.578L1.814 11.873zM0 22.363a20.474 20.474 0 0 0 1.814 6.787l11.764-6.787H0zm40.969-3.701a20.552 20.552 0 0 0-1.815-6.789l-11.761 6.789h13.576zM32.33 37.329a20.673 20.673 0 0 0 4.97-4.971L25.542 25.57l6.788 11.759zm4.97-28.66A20.589 20.589 0 0 0 32.331 3.7l-6.787 11.755L37.3 8.669zM11.843 39.181A20.45 20.45 0 0 0 18.634 41V27.422l-6.791 11.759zM29.124 1.847A20.358 20.358 0 0 0 22.335.03v13.575l6.789-11.758zM8.639 3.7A20.589 20.589 0 0 0 3.67 8.669l11.758 6.786L8.639 3.7zM3.67 32.358l11.758-6.788-6.789 11.759a20.687 20.687 0 0 1-4.969-4.971z" fill="#FFFFFE" mask="url(#b)"/></g></svg>
          </a>
          <div class="o-header__start">
            <span class="o-header__title -text--muted">Business Everywhere</span>
          </div>
          <div class="o-header__end">
            <div class="m-dropdown -mr--1">
              <button class="a-btn -flat -inverse -px--1 m-dropdown__trigger" data-position="bottom-end" id="support">
                Support
              </button>
              <div class="m-dropdown__menu" style="width:10rem;">
                <a class="m-dropdown__menu-item -active" href="#">
                  link 1
                </a>
                <a class="m-dropdown__menu-item" href="#">
                  link 2
                </a>
                <a class="m-dropdown__menu-item" href="#">
                  link 3
                </a>
              </div>
            </div>
            <div>
              <div class="a-avatar -sm3 -grey"><i class="a-icon icon-user"></i></div>
            </div>
            <div class="m-dropdown -mr--1">
              <button class="a-btn -flat -inverse -px--1 m-dropdown__trigger" data-position="bottom-end" id="user">
                Tim Anderson
              </button>
              <div class="m-dropdown__menu" style="width:10rem;">
                <a class="m-dropdown__menu-item -active" href="#">
                  link 1</a>
                <a class="m-dropdown__menu-item" href="#">
                  link 2
                </a>
                <a class="m-dropdown__menu-item" href="#">
                  link 3
                </a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="a-divider -inverse -bg--black -m--0"></div>
      <div class="-bg--black">
        <ul class="a-steps -horizontalLabels -inverse -py--2 -m--0 -pr--4 -mw--640 -m--auto">
          <li class="-completed">
            <div class="a-steps__icon"></div>
            <a href="#">Customer information</a>
            <div class="a-steps__line"></div>
          </li>
          <li class="-active">
            <div class="a-steps__icon"></div>
            <a href="#">Configure locations</a>
            <div class="a-steps__line"></div>
          </li>
          <li>
            <div class="a-steps__icon"></div>
            <a href="#">Checkout</a>
          </li>
        </ul>
      </div>
      <div class="-d--flex">
        <div class="-br--1 -d--flex -flex--column -justify-content--between" style="min-width:200px">
          <div>
            <div class="-d--flex -flex--row -justify-content--start -pl--3 -py--1">
              <h5>Locations</h5>
              <span class="-d--none -my--1 -ml--1" id="locations">(1)</span>
            </div>
            <ul class="a-tabs -vertical -large">
              <li class="-active -bg--grey-20" id="locationActiveTab">
                <a href="#">New Location</a>
              </li>
              <li id="locationTab" style="display:none">
                <a class="-text--larger" href="#">
                  <i class="a-icon icon-map-marker -mr--1"></i>
                  CenturyLink
                </a>
                <div class="-pl--6">
                  <p class="-text--small -mt--0">
                    1100 112th Avenue <br>
                    NE, Suite 400<br>
                    Bellevue, WA 98004
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="-p--1 -d--flex -flex--row -justify-content--start -align-items--center -bt--1">
            <i class="a-icon icon-circle-plus-outline -sm3 -text--brand -ml--1"></i>
            <h6 class="-text--brand -ml--1">
              Add Location</h6>
          </div>
        </div>
        <div class="-flex--grow1 -h--100" id="checkout" style="overflow:auto;">
          <div class="-px--5 -py--2 -m--auto -mw--640">
            <!--Location Step-->
            <div class="m-epanel -active" data-chi-epanel-group="checkout">
              <div class="m-epanel__header">
                <span class="m-epanel__number">1</span>
                <h4 class="m-epanel__title">Location</h4>
                <div class="m-epanel__content">
                  <div class="m-epanel__collapse">
                    <div class="-done--only -text">
                      CenturyLink<br>
                      1100 112th Avenue NE<br>
                      Suite 400<br>
                      Bellevue, WA 98004
                    </div>
                  </div>
                </div>
                <div class="m-epanel__action -done--only">
                  <button class="a-btn -brand -flat -pill" data-chi-epanel-action="active">Change</button>
                </div>
              </div>
              <div class="m-epanel__collapse">
                <div class="-active--only">
                  <div class="m-epanel__body">
                    <div class="m-epanel__content">
                      <h5 class="-mb--3">Enter service address</h5>
                      <div class="a-inputWrapper -floatingLabel -mb--1" id="floating-label-1">
                        <input class="a-input -xl -mr--3" type="text" id="i1">
                        <label for="1" class="">Location name</label>
                      </div>
                      <div class="a-inputWrapper -floatingLabel -mb--1" id="floating-label-2">
                        <input class="a-input -xl -mr--3" type="text" id="i2">
                        <label for="2" class="">Address line 1</label>
                      </div>
                      <div class="a-inputWrapper -floatingLabel -mb--1" id="floating-label-3">
                        <input class="a-input -xl -mr--3" type="text" id="i3">
                        <label for="3" class="">Address line 2</label>
                      </div>
                      <div class="m-formGroup -mb--1">
                        <div class="a-inputWrapper -floatingLabel -mb--1 -mr--1 -w--50" id="floating-label-4">
                          <input class="a-input -xl" type="text" id="i4">
                          <label for="4" class="">City</label>
                        </div>
                        <div class="a-inputWrapper -floatingLabel -mb--1 -mr--1 -w--50" id="floating-label-5">
                          <select class="a-input -xl -mr--1" id="floating-label-select">
                            <option></option>
                            <option>State 1</option>
                            <option>State 2</option>
                          </select>
                          <label for="floating-label-select" class="">Select State</label>
                        </div>
                        <div class="a-inputWrapper -floatingLabel -mb--1" id="floating-label-6">
                          <input class="a-input -xl -mr--3" type="text" id="i5" style="max-width: 10rem;">
                          <label for="6">Zip</label>
                        </div>
                      </div>
                    </div>
                    <div class="m-epanel__footer -justify-content--end">
                      <button class="a-btn -lg -brand -pill -ml--2" data-chi-epanel-action="next" id="location">
                        Continue
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Packages Step-->
            <div class="m-epanel -disabled" data-chi-epanel-group="checkout">
              <div class="m-epanel__header">
                <span class="m-epanel__number">2</span>
                <h4 class="m-epanel__title">Packages</h4>
                <div class="m-epanel__content">
                  <div class="m-epanel__collapse">
                    <div class="-done--only -text">Team (x50)</div>
                  </div>
                </div>
                <div class="m-epanel__action -done--only">
                  <button class="a-btn -brand -flat -pill" data-chi-epanel-action="active">Change</button>
                </div>
              </div>
              <div class="m-epanel__collapse">
                <div class="-active--only">
                  <div class="m-epanel__body">
                    <div class="m-epanel__content">
                      <div class="-d--flex -flex--row -justify-content--between">
                        <h5 class="-mt--0">Add packages</h5>
                        <a class="-text--small -text--brand" href="#">Compare features ›</a>
                      </div>
                      <div class="packages -pb--2">
                        <div class="a-grid -mb--3">
                          <div class="a-col">
                            <div class="a-card" id="1" style="cursor: pointer;">
                              <div class="a-card__content -text--center -py--3">
                                <i class="a-icon icon-circle-info-outline -sm -text--muted -position--absolute" style="top:15px;right:15px;"></i>
                                <h6 class="-mt--0">Calling</h6>
                                <div class="a-price -sm">$20</div>
                                <p class="-text--muted -text--small">per user /mo</p>
                                <div class="m-inputNumber -pill -m--auto" id="m-inputNumber-1">
                                  <input class="a-input" id="input-number-1" type="number" value="0" min="0">
                                  <button class="a-btn -icon" disabled="true">
                                    <div class="a-btn__content"><i class="a-icon icon-minus"></i></div>
                                  </button>
                                  <button class="a-btn -icon">
                                    <div class="a-btn__content"><i class="a-icon icon-plus"></i></div>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="a-col">
                            <div class="a-card" id="2" style="cursor: pointer;">
                              <div class="a-card__content -text--center -py--3">
                                <i class="a-icon icon-circle-info-outline -sm -text--muted -position--absolute" style="top:15px;right:15px;"></i>
                                <h6 class="-mt--0">Team</h6>
                                <div class="a-price -sm">$25</div>
                                <p class="-text--muted -text--small">per user /mo</p>
                                <div class="m-inputNumber -pill -m--auto" id="m-inputNumber-2">
                                  <input class="a-input" id="input-number-2" type="number" value="0" min="0">
                                  <button class="a-btn -icon" disabled="true">
                                    <div class="a-btn__content"><i class="a-icon icon-minus"></i></div>
                                  </button>
                                  <button class="a-btn -icon">
                                    <div class="a-btn__content"><i class="a-icon icon-plus"></i></div>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="a-grid">
                          <div class="a-col">
                            <div class="a-card" id="3" style="cursor: pointer;">
                              <div class="a-card__content -text--center -py--3">
                                <i class="a-icon icon-circle-info-outline -sm -text--muted -position--absolute" style="top:15px;right:15px;"></i>
                                <h6 class="-mt--0">Call Center Agent</h6>
                                <div class="a-price -sm">$35</div>
                                <p class="-text--muted -text--small">per user /mo</p>
                                <div class="m-inputNumber -pill -m--auto" id="m-inputNumber-3">
                                  <input class="a-input" id="input-number-3" type="number" value="0" min="0">
                                  <button class="a-btn -icon" disabled="true">
                                    <div class="a-btn__content"><i class="a-icon icon-minus"></i></div>
                                  </button>
                                  <button class="a-btn -icon">
                                    <div class="a-btn__content"><i class="a-icon icon-plus"></i></div>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="a-col">
                            <div class="a-card" id="4" style="cursor: pointer;">
                              <div class="a-card__content -text--center -py--3">
                                <i class="a-icon icon-circle-info-outline -sm -text--muted -position--absolute" style="top:15px;right:15px;"></i>
                                <h6 class="-mt--0">Call Center Supervisor</h6>
                                <div class="a-price -sm">$45</div>
                                <p class="-text--muted -text--small">per user /mo</p>
                                <div class="m-inputNumber -pill -m--auto" id="m-inputNumber-4">
                                  <input class="a-input" id="input-number-4" ype="number" value="0" min="0">
                                  <button class="a-btn -icon" disabled="true">
                                    <div class="a-btn__content"><i class="a-icon icon-minus"></i></div>
                                  </button>
                                  <button class="a-btn -icon">
                                    <div class="a-btn__content"><i class="a-icon icon-plus"></i></div>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="m-epanel__footer -justify-content--between">
                      <button class="a-btn -flat -pill -lg" data-chi-epanel-action="previous">
                        <div class="a-btn__content">
                          <div class="a-icon">
                            <svg>
                              <use xlink:href="#icon-chevron-left"></use>
                            </svg>
                          </div>
                          <span>Back</span>
                        </div>
                      </button>
                      <button class="a-btn -lg -brand -pill -ml--2" data-chi-epanel-action="next">Continue</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Upgrades Step-->
            <div class="m-epanel -disabled" data-chi-epanel-group="checkout">
              <div class="m-epanel__header">
                <span class="m-epanel__number">3</span>
                <h4 class="m-epanel__title" data-chi-epanel-action="toggle">Upgrades</h4>
                <div class="m-epanel__content">
                  <div class="m-epanel__collapse">
                    <div class="-done--only -text -text--muted" style="font-style: italic">None selected</div>
                  </div>
                </div>
                <div class="m-epanel__action -done--only">
                  <button class="a-btn -brand -flat -pill" data-chi-epanel-action="active">Change</button>
                </div>
              </div>
              <div class="m-epanel__collapse">
                <div class="-active--only">
                  <div class="m-epanel__body">
                    <div class="m-epanel__content">
                      <h5 class="-mb--3">Choose Upgrades (optional)</h5>
                      <h6>Do you need additional numbers?</h6>
                      <div class="m-picker -lg">
                        <input class="a-picker" type="checkbox" id="up-1">
                        <label for="up-1">
                        <div class="m-picker__content--start">
                          <label class="-text--bold -d--flex">
                            Additional Telephone Number
                          </label>
                          <strong>
                            $1.00
                            <span class="-text--normal -text--body -text--small -text--muted"> per number /mo</span>
                          </strong>
                        </div>
                        <div class="m-picker__content--end">
                          <div class="m-inputNumber -pill -m--auto">
                            <input class="a-input" type="number" value="0">
                            <button class="a-btn -icon">
                              <div class="a-btn__content"><i class="a-icon icon-minus"></i></div>
                            </button>
                            <button class="a-btn -icon">
                              <div class="a-btn__content"><i class="a-icon icon-plus"></i></div>
                            </button>
                          </div>
                        </div>
                      </label></div>
                      <div class="m-picker -lg -mb--3">
                        <input class="a-picker" type="checkbox" id="up-2">
                        <label for="up-2">
                        <div class="m-picker__content--start">
                          <label class="-text--bold -d--flex">
                            Tool-free Telephone Number
                          </label>
                          <strong>
                            $5.00
                            <span class="-text--normal -text--body -text--small -text--muted"> per number /mo</span>
                            <span class="-text--bold -text--body -text--small -text--brand"> First number is FREE</span>
                          </strong>
                        </div>
                        <div class="m-picker__content--end">
                          <div class="m-inputNumber -pill -m--auto">
                            <input class="a-input" type="number" value="0">
                            <button class="a-btn -icon">
                              <div class="a-btn__content"><i class="a-icon icon-minus"></i></div>
                            </button>
                            <button class="a-btn -icon">
                              <div class="a-btn__content"><i class="a-icon icon-plus"></i></div>
                            </button>
                          </div>
                        </div>
                      </label></div>
                      <h6>Further extend your phone system</h6>
                      <div class="m-picker -lg">
                        <input class="a-picker" type="checkbox" id="up-3">
                        <label for="up-3">
                        <div class="m-picker__content--start">
                          <label class="-text--bold -d--flex">
                            Additional Voice Mail Box
                            <i class="a-icon icon-circle-info-outline -sm -text--muted -ml--1"></i>
                          </label>
                          <strong>
                            $10.00
                            <span class="-text--normal -text--body -text--small -text--muted"> per month</span>
                          </strong>
                        </div>
                        <div class="m-picker__content--end">
                          <div class="m-inputNumber -pill -m--auto">
                            <input class="a-input" type="number" value="0">
                            <button class="a-btn -icon">
                              <div class="a-btn__content"><i class="a-icon icon-minus"></i></div>
                            </button>
                            <button class="a-btn -icon">
                              <div class="a-btn__content"><i class="a-icon icon-plus"></i></div>
                            </button>
                          </div>
                        </div>
                      </label></div>
                      <div class="m-picker -lg">
                        <input class="a-picker" type="checkbox" id="up-4">
                        <label for="up-4">
                        <div class="m-picker__content--start">
                          <label class="-text--bold -d--flex">
                            Additional Directory Listing
                            <i class="a-icon icon-circle-info-outline -sm -text--muted -ml--1"></i>
                          </label>
                          <strong>
                            $1.00
                            <span class="-text--normal -text--body -text--small -text--muted"> per month</span>
                          </strong>
                        </div>
                        <div class="m-picker__content--end">
                          <div class="m-inputNumber -pill -m--auto">
                            <input class="a-input" type="number" value="0">
                            <button class="a-btn -icon">
                              <div class="a-btn__content"><i class="a-icon icon-minus"></i></div>
                            </button>
                            <button class="a-btn -icon">
                              <div class="a-btn__content"><i class="a-icon icon-plus"></i></div>
                            </button>
                          </div>
                        </div>
                      </label></div>
                      <div class="m-picker -lg">
                        <input class="a-picker" type="checkbox" id="up-5">
                        <label for="up-5">
                        <div class="m-picker__content--start">
                          <label class="-text--bold -d--flex">
                            Recepcionist Client
                            <i class="a-icon icon-circle-info-outline -sm -text--muted -ml--1"></i>
                          </label>
                          <strong>
                            $7.00
                            <span class="-text--normal -text--body -text--small -text--muted"> per month</span>
                          </strong>
                        </div>
                        <div class="m-picker__content--end">
                          <div class="m-inputNumber -pill -m--auto">
                            <input class="a-input" type="number" value="0">
                            <button class="a-btn -icon">
                              <div class="a-btn__content"><i class="a-icon icon-minus"></i></div>
                            </button>
                            <button class="a-btn -icon">
                              <div class="a-btn__content"><i class="a-icon icon-plus"></i></div>
                            </button>
                          </div>
                        </div>
                      </label></div>
                      <div class="m-picker -lg">
                        <input class="a-picker" type="checkbox" id="up-6">
                        <label for="up-6">
                        <div class="m-picker__content--start">
                          <label class="-text--bold -d--flex">
                            Additional Auto Attendant
                            <i class="a-icon icon-circle-info-outline -sm -text--muted -ml--1"></i>
                          </label>
                          <strong>
                            $10.00
                            <span class="-text--normal -text--body -text--small -text--muted"> per month</span>
                          </strong>
                        </div>
                        <div class="m-picker__content--end">
                          <div class="m-inputNumber -pill -m--auto">
                            <input class="a-input" type="number" value="0">
                            <button class="a-btn -icon">
                              <div class="a-btn__content"><i class="a-icon icon-minus"></i></div>
                            </button>
                            <button class="a-btn -icon">
                              <div class="a-btn__content"><i class="a-icon icon-plus"></i></div>
                            </button>
                          </div>
                        </div>
                      </label></div>
                      <div class="m-picker -lg">
                        <input class="a-picker" type="checkbox" id="up-7">
                        <label for="up-7">
                        <div class="m-picker__content--start">
                          <label class="-text--bold -d--flex">
                            Hunt Group
                            <i class="a-icon icon-circle-info-outline -sm -text--muted -ml--1"></i>
                          </label>
                          <strong>
                            $10.00
                            <span class="-text--normal -text--body -text--small -text--muted"> per month</span>
                          </strong>
                        </div>
                        <div class="m-picker__content--end">
                          <div class="m-inputNumber -pill -m--auto">
                            <input class="a-input" type="number" value="0">
                            <button class="a-btn -icon">
                              <div class="a-btn__content"><i class="a-icon icon-minus"></i></div>
                            </button>
                            <button class="a-btn -icon">
                              <div class="a-btn__content"><i class="a-icon icon-plus"></i></div>
                            </button>
                          </div>
                        </div>
                      </label></div>
                      <div class="m-picker -lg">
                        <input class="a-picker" type="checkbox" id="up-8">
                        <label for="up-8">
                        <div class="m-picker__content--start">
                          <label class="-text--bold -d--flex">
                            Meet-me Bridge
                            <i class="a-icon icon-circle-info-outline -sm -text--muted -ml--1"></i>
                          </label>
                          <strong>
                            $5.00
                            <span class="-text--normal -text--body -text--small -text--muted"> per month</span>
                          </strong>
                        </div>
                        <div class="m-picker__content--end">
                          <div class="m-inputNumber -pill -m--auto">
                            <input class="a-input" type="number" value="0">
                            <button class="a-btn -icon">
                              <div class="a-btn__content"><i class="a-icon icon-minus"></i></div>
                            </button>
                            <button class="a-btn -icon">
                              <div class="a-btn__content"><i class="a-icon icon-plus"></i></div>
                            </button>
                          </div>
                        </div>
                      </label></div>
                      <div class="m-picker -lg">
                        <input class="a-picker" type="checkbox" id="up-9">
                        <label for="up-9">
                        <div class="m-picker__content--start">
                          <label class="-text--bold -d--flex">
                            Meet-me Conference
                            <i class="a-icon icon-circle-info-outline -sm -text--muted -ml--1"></i>
                          </label>
                          <strong>
                            $5.00
                            <span class="-text--normal -text--body -text--small -text--muted"> per month</span>
                          </strong>
                        </div>
                        <div class="m-picker__content--end">
                          <div class="m-inputNumber -pill -m--auto">
                            <input class="a-input" type="number" value="0">
                            <button class="a-btn -icon">
                              <div class="a-btn__content"><i class="a-icon icon-minus"></i></div>
                            </button>
                            <button class="a-btn -icon">
                              <div class="a-btn__content"><i class="a-icon icon-plus"></i></div>
                            </button>
                          </div>
                        </div>
                      </label></div>
                      <div class="m-picker -lg">
                        <input class="a-picker" type="checkbox" id="up-10">
                        <label for="up-10">
                        <div class="m-picker__content--start">
                          <label class="-text--bold -d--flex">
                            Call Recording
                            <i class="a-icon icon-circle-info-outline -sm -text--muted -ml--1"></i>
                          </label>
                          <strong>
                            $5.00
                            <span class="-text--normal -text--body -text--small -text--muted"> per month</span>
                          </strong>
                        </div>
                        <div class="m-picker__content--end">
                          <div class="m-inputNumber -pill -m--auto">
                            <input class="a-input" type="number" value="0">
                            <button class="a-btn -icon">
                              <div class="a-btn__content"><i class="a-icon icon-minus"></i></div>
                            </button>
                            <button class="a-btn -icon">
                              <div class="a-btn__content"><i class="a-icon icon-plus"></i></div>
                            </button>
                          </div>
                        </div>
                      </label></div>
                    </div>
                    <div class="m-epanel__footer -justify-content--between">
                      <button class="a-btn -flat -pill -lg" data-chi-epanel-action="previous">
                        <div class="a-btn__content">
                          <div class="a-icon">
                            <svg>
                              <use xlink:href="#icon-chevron-left"></use>
                            </svg>
                          </div>
                          <span>Back</span>
                        </div>
                      </button>
                      <button class="a-btn -lg -brand -pill -ml--2" data-chi-epanel-action="next">Continue</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Numbers Step-->
            <div class="m-epanel -disabled" data-chi-epanel-group="checkout">
              <div class="m-epanel__header">
                <span class="m-epanel__number">4</span>
                <h4 class="m-epanel__title">Numbers</h4>
                <div class="m-epanel__content">
                  <div class="m-epanel__collapse">
                    <div class="-done--only -text">
                      New numbers (x70) <br>
                      425 area code
                    </div>
                  </div>
                </div>
                <div class="m-epanel__action -done--only">
                  <button class="a-btn -brand -flat -pill" data-chi-epanel-action="active">Change</button>
                </div>
              </div>
              <div class="m-epanel__collapse">
                <div class="-active--only">
                  <div class="m-epanel__body">
                    <div class="m-epanel__content">
                      <h5 class="-mb--3">Choose Numbers</h5>
                      <h6>New numbers</h6>
                      <div class="m-picker">
                        <input class="a-picker" type="checkbox" id="num-1">
                        <label for="num-1">
                          <i class="a-icon icon-circle-plus-outline -sm3 -text--brand -ml--1"></i>
                          Add numbers
                        </label>
                      </div>
                      <h6>Keep and transfer existing numbers</h6>
                      <div class="m-picker">
                        <input class="a-picker" type="checkbox" id="num-2">
                        <label for="num-2">
                          <i class="a-icon icon-atom -sm3 -text--brand -ml--1"></i>
                          Transfer numbers
                        </label>
                      </div>
                    </div>
                    <div class="m-epanel__footer -justify-content--between">
                      <button class="a-btn -flat -pill -lg" data-chi-epanel-action="previous">
                        <div class="a-btn__content">
                          <div class="a-icon">
                            <svg>
                              <use xlink:href="#icon-chevron-left"></use>
                            </svg>
                          </div>
                          <span>Back</span>
                        </div>
                      </button>
                      <button class="a-btn -lg -brand -pill -ml--2" data-chi-epanel-action="next">Continue</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Equipment Step-->
            <div class="m-epanel -disabled" data-chi-epanel-group="checkout">
              <div class="m-epanel__header">
                <span class="m-epanel__number">5</span>
                <h4 class="m-epanel__title">Equipment</h4>
                <div class="m-epanel__content">
                  <div class="m-epanel__collapse">
                    <div class="-done--only -text">Cisco 6841 Phone</div>
                  </div>
                </div>
                <div class="m-epanel__action -done--only">
                  <button class="a-btn -brand -flat -pill" data-chi-epanel-action="active">Change</button>
                </div>
              </div>
              <div class="m-epanel__collapse">
                <div class="-active--only">
                  <div class="m-epanel__body">
                    <div class="m-epanel__content">
                      <h5 class="-mb--3">Choose equipment</h5>
                      <p class="-text">
                        For best performance and easy installation, we recommend that you purchase the Cisco
                        6841IP phone that is pre-loaded with necessary VoIP software, and has been certified for performance
                        on the Centurylink Network.
                      </p>
                      <div class="m-picker -lg">
                        <input class="a-picker" type="radio" name="equipments" id="eq-1">
                        <label for="eq-1">Purchase equipment</label>
                      </div>
                      <div class="m-picker -lg">
                        <input class="a-picker" type="radio" name="equipments" id="eq-2">
                        <label for="eq-2">
                        <div class="m-picker__content--start">Use your existing equipment</div>
                        <div class="m-picker__content--end">
                          <span class="-text--bold -text--body -text--right">$0</span>
                          <span class="-text--normal -text--muted -text--small">no charge</span>
                        </div>
                      </label></div>
                      <div class="m-picker -lg">
                        <input class="a-picker" type="radio" name="equipments" id="eq-3">
                        <label for="eq-3">
                        <div class="m-picker__content--start">No equipment, will only use the soft client</div>
                        <div class="m-picker__content--end">
                          <span class="-text--bold -text--body -text--right">$0</span>
                          <span class="-text--normal -text--muted -text--small">no charge</span>
                        </div>
                      </label></div>
                      <h6 class="-mt--2">Select equipment</h6>
                      <div class="a-grid -mb--3">
                        <div class="a-col">
                          <div class="a-card" id="5" style="cursor: pointer;">
                            <div class="a-card__content -text--center -py--3">
                              <h5 class="-mb--3">Cisco 6841 Phone</h5>
                              <img src="../../assets/images/equipment1.png" alt="Cisco 6841 Phone">
                              <h4 class="-m--0">$15</h4>
                              <p class="-text--muted -mt--0">per user /mo</p>
                              <div class="m-inputNumber -pill -m--auto" id="m-inputNumber-5">
                                <input class="a-input" id="input-number-5" type="number" value="0" min="0">
                                <button class="a-btn -icon">
                                  <div class="a-btn__content"><i class="a-icon icon-minus"></i></div>
                                </button>
                                <button class="a-btn -icon">
                                  <div class="a-btn__content"><i class="a-icon icon-plus"></i></div>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="a-col">
                          <div class="a-card" id="6" style="cursor: pointer;">
                            <div class="a-card__content -text--center -py--3">
                              <h5 class="-mb--3">Linksys SPA122 ATA</h5>
                              <img src="../../assets/images/equipment2.png" alt="Linksys SPA122 ATA">
                              <h4 class="-m--0">$7</h4>
                              <p class="-text--muted -mt--0">per user /mo</p>
                              <div class="m-inputNumber -pill -m--auto" id="m-inputNumber-6">
                                <input class="a-input" id="input-number-6" type="number" value="0" min="0">
                                <button class="a-btn -icon">
                                  <div class="a-btn__content"><i class="a-icon icon-minus"></i></div>
                                </button>
                                <button class="a-btn -icon">
                                  <div class="a-btn__content"><i class="a-icon icon-plus"></i></div>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="m-epanel__footer -justify-content--between">
                      <button class="a-btn -flat -pill -lg" data-chi-epanel-action="previous">
                        <div class="a-btn__content">
                          <div class="a-icon">
                            <svg>
                              <use xlink:href="#icon-chevron-left"></use>
                            </svg>
                          </div>
                          <span>Back</span>
                        </div>
                      </button>
                      <button class="a-btn -lg -brand -pill -ml--2" data-chi-epanel-action="next">Continue</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Shipping Step-->
            <div class="m-epanel -disabled" data-chi-epanel-group="checkout">
              <div class="m-epanel__header">
                <span class="m-epanel__number">6</span>
                <h4 class="m-epanel__title">Shipping</h4>
                <div class="m-epanel__content">
                  <div class="m-epanel__collapse">
                    <div class="-done--only -text">
                      CenturyLink<br>
                      1100 112th Avenue NE<br>
                      Suite 400<br>
                      Bellevue, WA 98004<br><br>
                      <strong>Delivery method:<br></strong>
                      Free Standard shipping
                    </div>
                  </div>
                </div>
                <div class="m-epanel__action -done--only">
                  <button class="a-btn -brand -flat -pill" data-chi-epanel-action="active">Change</button>
                </div>
              </div>
              <div class="m-epanel__collapse">
                <div class="-active--only">
                  <div class="m-epanel__body">
                    <div class="m-epanel__content">
                      <h5 class="-mb--3">Fill the form</h5>
                    </div>
                    <div class="m-epanel__footer -justify-content--between">
                      <button class="a-btn -flat -pill -lg" data-chi-epanel-action="previous">
                        <div class="a-btn__content">
                          <div class="a-icon">
                            <svg>
                              <use xlink:href="#icon-chevron-left"></use>
                            </svg>
                          </div>
                          <span>Back</span>
                        </div>
                      </button>
                      <button class="a-btn -lg -brand -pill -ml--2" data-chi-epanel-action="next">Continue</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Activation Step-->
            <div class="m-epanel -disabled" data-chi-epanel-group="checkout">
              <div class="m-epanel__header">
                <span class="m-epanel__number">7</span>
                <h4 class="m-epanel__title">Activation</h4>
                <div class="m-epanel__content">
                  <div class="m-epanel__collapse">
                    <div class="-done--only -text">Same date activation<br><br>
                      <strong>Activation date:<br></strong>
                      November 19,2018
                    </div>
                  </div>
                </div>
                <div class="m-epanel__action -done--only">
                  <button class="a-btn -brand -flat -pill" data-chi-epanel-action="active">Change</button>
                </div>
              </div>
              <div class="m-epanel__collapse">
                <div class="-active--only">
                  <div class="m-epanel__body">
                    <div class="m-epanel__content">
                      <h5 class="-mb--3">Select activation preference</h5>
                      <div class="m-picker">
                        <input class="a-picker" type="radio" name="equipments" id="act-1">
                        <label for="act-1">Activate all telephone numbers on the same date</label>
                      </div>
                      <div class="m-picker">
                        <input class="a-picker" type="radio" name="equipments" id="act-2">
                        <label for="act-2">Activate telephone numbers individually</label>
                      </div>
                      <h6 class="-mt--2">Activation date</h6>
                      <p class="-text -mt--0">The soonest all telephone numbers can be activated is November 19, 2018</p>
                      <div class="a-inputWrapper -icon--right" style="max-width:16rem">
                        <input class="a-input -xl" type="text" placeholder="Placeholder" value="11/09/2018">
                        <div class="a-icon">
                          <svg>
                            <use xlink:href="#icon-edit"></use>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="m-epanel__footer -justify-content--between">
                      <button class="a-btn -flat -pill -lg" data-chi-epanel-action="previous">
                        <div class="a-btn__content">
                          <div class="a-icon">
                            <svg>
                              <use xlink:href="#icon-chevron-left"></use>
                            </svg>
                          </div>
                          <span>Back</span>
                        </div>
                      </button>
                      <button class="a-btn -lg -brand -pill -ml--2" data-chi-epanel-action="next">Continue</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Professional Services Step-->
            <div class="m-epanel -disabled" data-chi-epanel-group="checkout">
              <div class="m-epanel__header">
                <span class="m-epanel__number">8</span>
                <h4 class="m-epanel__title">Professional Services</h4>
                <div class="m-epanel__content">
                  <div class="m-epanel__collapse">
                    <div class="-done--only -text">Professional Install</div>
                  </div>
                </div>
                <div class="m-epanel__action -done--only">
                  <button class="a-btn -brand -flat -pill" data-chi-epanel-action="active">Change</button>
                </div>
              </div>
              <div class="m-epanel__collapse">
                <div class="-active--only">
                  <div class="m-epanel__body">
                    <div class="m-epanel__content">
                      <h5 class="-mb--3">Select professional services (optional)</h5>
                      <div class="m-picker">
                        <input class="a-picker" type="checkbox" id="pro-1">
                        <label for="pro-1">
                          <div class="m-picker__content--start">
                            <div class="m-formGroup">
                              <input class="a-input" type="checkbox" id="pro-1">
                              <label for="pro-1"></label>
                              Professional Install
                            </div>
                            <div class="-text--normal -text--body -text--small">
                              Lorem ipsum dolor sit amet, consectetur
                              adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie.
                              Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices
                              tortor. Vivamus sit amet lorem augue.
                            </div>
                          </div>
                        </label>
                      </div>
                      <div class="m-picker">
                        <input class="a-picker" type="checkbox" id="pro-2">
                        <label for="pro-2">
                        <div class="m-picker__content--start">
                          <div class="m-formGroup">
                            <input class="a-input" type="checkbox" id="pro-2">
                            <label for="pro-2"></label>Portal Setup
                          </div>
                          <div class="-text--normal -text--body -text--small">
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie.
                            Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices
                            tortor. Vivamus sit amet lorem augue.
                          </div>
                        </div>
                      </label></div>
                      <div class="m-picker">
                        <input class="a-picker" type="checkbox" id="pro-3">
                        <label for="pro-3">
                        <div class="m-picker__content--start">
                          <div class="m-formGroup">
                            <input class="a-input" type="checkbox" id="pro-3">
                            <label for="pro-3"></label>Training Services
                          </div>
                          <div class="-text--normal -text--body -text--small">
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Integer vehicula placerat iaculis. Ut rutrum pulvinar velit vitae molestie.
                            Phasellus accumsan pharetra ex. Nulla iaculis velit sed velit vehicula dictum. Donec ut ultrices
                            tortor. Vivamus sit amet lorem augue.
                          </div>
                        </div>
                      </label></div>
                    </div>
                    <div class="m-epanel__footer -justify-content--between">
                      <button class="a-btn -flat -pill -lg" data-chi-epanel-action="previous">
                        <div class="a-btn__content">
                          <div class="a-icon">
                            <svg>
                              <use xlink:href="#icon-chevron-left"></use>
                            </svg>
                          </div>
                          <span>Back</span>
                        </div>
                      </button>
                      <button class="a-btn -lg -brand -pill -ml--2" data-chi-epanel-action="done">Finish</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="-bl--1" style="min-width:200px">
          <div class="-p--2 -d--flex -flex--row -justify-content--center">
            <img src="../../assets/images/cart.png" alt="Checkout Cart">
            <h5 class="-text--left">Cart</h5>
            <span class="-d--block -text--bold -text--brand" id="quantityInit" style="position: relative;right: 58px;">0</span>
            <span class="-d--none -text--bold -text--brand" id="quantity" style="position: relative;right: 63px;">50</span>
          </div>
          <div class="-d--block" id="empty">
            <p class="-text -text--small -text--center -text--muted">
              <i>Your cart is empty</i>
            </p>
          </div>
          <div class="-d--none" id="cart">
            <h6 class="-pl--2 -text--white" style="background: #727679">Monthly charges</h6>
            <div class="-px--2">
              <h6 class="-text--bold">Packages</h6>
              <div class="-d--flex -flex--row -justify-content--between">
                <p class="-text -text--small -my--0">Team (x50)</p>
                <p class="-text -text--small -my--0">$1250.00</p>
              </div>
              <h6 class="-d--none -text--bold" id="equipment">Equipment</h6>
              <div class="-d--none -d--flex -flex--row -justify-content--between" id="equipment">
                <p class="-text -text--small -my--0">Cisco phone (x70)</p>
                <p class="-text -text--small -my--0">$1050.00</p>
              </div>
              <div class="a-divider"></div>
              <div class="-d--flex -flex--row -justify-content--between">
                <p class="-text -text--small -my--0">
                  Savings<i class="a-icon icon-circle-info-outline -xs -text--muted -ml--1"></i>
                </p>
                <p class="-text -text--small -my--0">-$62.50</p>
              </div>
              <div class="a-divider"></div>
              <div class="-d--flex -flex--row -justify-content--between">
                <h6 class="-text--bold">Monthly total:</h6>
                <h6 class="-text--bold" style="color:#d12a2d">$1,187.50</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="-w--100 -bg--black">
        <div class="-p--2 -d--flex -flex--row -justify-content--end -m--auto">
          <button class="a-btn -lg -brand -pill -ml--2">Checkout</button>
        </div>
      </div>
    </div>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.expansionPanel(document.querySelectorAll('[data-chi-epanel-group="checkout"]'));
      chi.floatingLabel(document.getElementById('floating-label-1'));
      chi.floatingLabel(document.getElementById('floating-label-2'));
      chi.floatingLabel(document.getElementById('floating-label-3'));
      chi.floatingLabel(document.getElementById('floating-label-4'));
      chi.floatingLabel(document.getElementById('floating-label-5'));
      chi.numberInput(document.getElementById('input-number-1'));
      chi.numberInput(document.getElementById('input-number-2'));
      chi.numberInput(document.getElementById('input-number-3'));
      chi.numberInput(document.getElementById('input-number-4'));
    },
    false
  );
