.chi-search {
  &__input {
    ~ .chi-button,
    ~ chi-button {
      &.-icon {
        &.-flat,
        &.-close {
          position: absolute;
          top: 0;
        }

        &.-flat {
          right: 0rem;
        }

        &.-close {
          right: 2rem;
        }
      }
    }

    &[disabled],
    &.-disabled {
      ~ .chi-button,
      ~ chi-button {
        cursor: not-allowed;
      }
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}

.chi-input__wrapper {
  &.-icon--right {
    input {
      &[type='search'] {
        &.chi-search__input {
          padding-right: 4rem;

          &.-sm {
            padding-right: 3rem;

            ~ .chi-button,
            ~ chi-button {
              &.-icon {
                &.-close {
                  right: 1.5rem;
                }
              }
            }
          }

          &.-lg {
            padding-right: 5rem;

            ~ .chi-button,
            ~ chi-button {
              &.-icon {
                &.-close {
                  right: 2.5rem;
                }
              }
            }
          }

          &.-xl {
            padding-right: 6rem;

            ~ .chi-button,
            ~ chi-button {
              &.-icon {
                &.-close {
                  right: 3rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
