@import 'variables';
@import 'mixins';

.chi {
  .a-spinner__backdrop {
    background: rgba(set-color(white), 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .a-spinner {
      position: relative;
    }
    .a-spinner .a-spinner__loader,
    .a-spinner .a-spinner__loader:after {
      position: absolute;
      width: 5rem;
      height: 5rem;
      border: 0.5rem solid $brand-color;
      border-top-color: transparent;
      border-right-color: transparent;
      border-radius: 50%;
    }
    .a-spinner .a-spinner__loader {
      -webkit-animation: spinner 1s linear infinite;
      animation: spinner 1s linear infinite;
      top: 6.25rem;
      left: 6.25rem;
    }
    .a-spinner .a-spinner__loader:after {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    .a-spinner {
      width: 12rem;
      height: 12rem;
      -webkit-transform: translate(-6.25rem, -6.25rem) scale(1) translate(6.25rem, 6.25rem);
      transform: translate(-6.25rem, -6.25rem) scale(1) translate(6.25rem, 6.25rem);
    }

    &.-inverse {
      background-color: rgba(set-color(black), 0.65);

      .a-spinner .a-spinner__loader,
      .a-spinner .a-spinner__loader:after {
        position: absolute;
        width: 5rem;
        height: 5rem;
        border: 0.5rem solid set-color(white);
        border-top-color: transparent;
        border-right-color: transparent;
        border-radius: 50%;
      }
    }
  }

  .a-spinner {
    position: relative;
    margin: .5rem;

    &.-small {
      margin: .35rem;
      .a-spinner__loader,
      .a-spinner__loader:after {
        position: absolute;
        width: .75rem;
        height: .75rem;
        border: 0.1rem solid $text-color;
        border-top-color: transparent;
        border-right-color: transparent;
        border-radius: 50%;
      }
    }

    &.-large {
      .a-spinner__loader,
      .a-spinner__loader:after {
        position: absolute;
        width: 1.25rem;
        height: 1.25rem;
        border: 0.17rem solid $text-color;
        border-top-color: transparent;
        border-right-color: transparent;
        border-radius: 50%;
      }
    }
  }

  .a-spinner .a-spinner__loader,
  .a-spinner .a-spinner__loader:after {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border: 0.15rem solid $text-color;
    border-top-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
  }
  .a-spinner .a-spinner__loader {
    -webkit-animation: spinner 1s linear infinite;
    animation: spinner 1s linear infinite;
  }
  .a-spinner .a-spinner__loader:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .a-spinner {
    -webkit-transform: translate(-6.25rem, -6.25rem) scale(1) translate(6.25rem, 6.25rem);
    transform: translate(-6.25rem, -6.25rem) scale(1) translate(6.25rem, 6.25rem);
  }

  @keyframes spinner {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}





