:host(chi-spinner) {
  @import '../../global/styles/common';
  @import 'components/spinner/spinner';
  @import 'components/backdrop/backdrop';
  display: inline-block;
  &[backdrop] {
    .a-backdrop {
      align-items: center;
      display: flex;
      justify-content: center;
      position: absolute;
    }
  }
}
