@import '_variables';
@import '_mixins';

$sizes: (
  xs: (
    padding: 0.25rem,
  ),
  sm: (
    padding: 0.5rem,
  ),
  md: (
    padding: 0.75rem,
  ),
  lg: (
    padding: 1rem,
  ),
  xl: (
    padding: 1.25rem,
  )
);

.chi-data-table {
  border-collapse: collapse;
  display: block;
  font-size: $text;
  line-height: $line-height-smaller;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;

  @include respond-to(md) {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 0;
  }

  @each $type in map-keys($sizes) {
    &.-#{$type} {
      .chi-data-table__head {
        .chi-data-table__cell {
          padding: map-get(map-get($sizes, $type), padding);
        }
      }

      .chi-data-table__body {
        .chi-data-table__cell {
          padding: map-get(map-get($sizes, $type), padding);
        }
      }
    }
  }

  &__head {
    display: none;

    @include respond-to(md) {
      background-color: set-color(white);
      display: block;
    }

    .chi-data-table__cell {
      @include respond-to(md) {
        border-bottom: 0.125rem solid set-color(grey, 30);
        display: flex;
        font-weight: 600;
        padding: 0.75rem;
        position: relative;

        .chi-icon {
          margin-left: 0.5rem;

          &.icon-arrow-sync {
            color: set-color(grey, 50);
            transform: rotate(90deg);
            transition: transform 0.2s ease-in-out;
          }
        }
      }
    }
  }

  &__body {
    @include respond-to(md) {
      display: flex;
      flex-direction: column;
    }

    .chi-data-table__cell {
      display: flex;
      padding: 0.25rem 0.75rem;

      @include respond-to(md) {
        border-bottom: 0.0625rem solid set-color(grey, 20);
        padding: 0.75rem;
        word-break: break-word;
      }

      &::before {
        content: attr(data-label);
        display: block;
        font-weight: 600;
        min-width: 10rem;

        @include respond-to(md) {
          display: none;
        }
      }

      &.-selectable {
        &::before {
          display: none;
        }
      }
    }
  }

  &__footer {
    padding: 1.5rem 0;
  }

  &__row {
    background-color: set-color(white);
    border-bottom: 0.0625rem solid set-color(grey, 20);
    display: block;
    padding: 1rem 0;

    @include respond-to(md) {
      border: 0;
      display: flex;
      flex-direction: row;
      padding: 0;
    }

    &.-active {
      background-color: set-color(blue, 20);
      box-shadow: inset 0.125rem 0 0 $primary-color;
    }

    &.-selected {
      background-color: set-color(blue, 20);
    }

    &.-expanded {
      background-color: set-color(blue, 20);
      box-shadow: inset 0.125rem 0 0 $primary-color;

      .icon-chevron-right {
        transform: rotate(90deg);
        transition: transform 0.2s ease-in-out;
      }
    }

    &-child {
      background-color: set-color(white);
      box-shadow: inset 0.125rem 0 0 $primary-color;

      @include respond-to(md) {
        border-bottom: 0.0625rem solid set-color(grey, 30);
        padding: 1.5rem 2rem;
      }
    }
  }

  &__cell {
    @include respond-to(md) {
      align-items: center;
      flex-basis: 0%;
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: flex-start;
    }

    & .-asociated {
      &:first-child {
        margin-right: 1rem;
      }

      &::before {
        content: attr(data-label);
        display: inline-block;
        font-weight: 600;
        margin-right: 0.5rem;
      }

      @include respond-to(md) {
        display: flex;
        flex-basis: 0%;
        flex-grow: 1;
        flex-shrink: 1;

        &:first-child {
          margin-right: 0.5rem;
        }

        &::before {
          display: none;
        }
      }
    }
  }

  &.-sorting {
    .chi-data-table__head {
      .chi-data-table__cell {
        &:hover {
          background-color: set-color(grey, 20);
          cursor: pointer;

          .chi-icon {
            color: set-color(grey, 100);
          }
        }

        &.-active {
          border-bottom-color: $primary-color;
          color: $primary-color;

          .chi-icon {
            color: $primary-color;
          }

          &.-descending {
            .chi-icon {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

  &.-no-border {
    .chi-data-table__head,
    .chi-data-table__body {
      .chi-data-table__cell {
        @include respond-to(md) {
          border: 0;
        }
      }
    }
  }

  &.-striped {
    .chi-data-table__body {
      .chi-data-table__row {
        &:nth-child(odd) {
          background-color: set-color(grey, 10);
        }
      }
    }
  }

  &.-hover {
    .chi-data-table__body {
      .chi-data-table__row {
        &:hover,
        &.-hover {
          @include respond-to(md) {
            background-color: set-color(grey, 10);

            &.-active,
            &.-selected,
            &.-expanded {
              background-color: set-color(blue, 20);
            }
          }
        }
      }
    }
  }

  &.-bordered {
    .chi-data-table__body {
      .chi-data-table__row {
        border-bottom: 0.0625rem solid set-color(grey, 20);

        .chi-data-table__cell {
          border: 0.0625rem solid set-color(grey, 20);
          border-bottom-width: 0;
        }

        & + .chi-data-table__row {
          .chi-data-table__cell {
            &:first-child {
              border-top-width: 0;
            }
          }
        }
      }
    }

    @include respond-to(md) {
      .chi-data-table__head,
      .chi-data-table__body {
        .chi-data-table__row {
          .chi-data-table__cell {
            border: 0.0625rem solid set-color(grey, 20);
            border-right-width: 0;

            &:last-of-type {
              border-right-width: 0.0625rem;
            }
          }
        }
      }

      .chi-data-table__head {
        .chi-data-table__row {
          .chi-data-table__cell {
            border-bottom: 0.125rem solid set-color(grey, 30);
          }
        }
      }

      .chi-data-table__body {
        .chi-data-table__row {
          border-bottom: 0;

          .chi-data-table__cell {
            border-top-width: 0;
          }
        }
      }
    }
  }

  &.-inverse {
    .chi-data-table__head {
      @include respond-to(md) {
        background-color: set-color(grey, 90);

        .chi-data-table__cell {
          border-bottom: 0.125rem solid set-color(grey, 70);
        }
      }
    }

    .chi-data-table__body {
      background-color: set-color(grey, 90);

      .chi-data-table__cell {
        border-bottom: 0.0625rem solid set-color(grey, 80);
      }
    }

    .chi-data-table__row {
      background-color: set-color(grey, 90);
      color: set-color(white);

      &.-active {
        background-color: rgba(set-color(mint, 40), 0.08);
        box-shadow: inset 0.125rem 0 0 $secondary-color;
        color: $secondary-color;
      }
    }

    &.-no-border {
      .chi-data-table__head,
      .chi-data-table__body {
        .chi-data-table__cell {
          @include respond-to(md) {
            border: 0;
          }
        }
      }
    }

    &.-striped {
      .chi-data-table__body {
        .chi-data-table__row {
          &:nth-child(odd) {
            background-color: set-color(grey, 80);
          }
        }
      }
    }

    &.-hover {
      .chi-data-table__body {
        .chi-data-table__row {
          &:hover,
          &.-hover {
            @include respond-to(md) {
              background-color: set-color(grey, 80);

              &.-active,
              &.-selected,
              &.-expanded {
                background-color: rgba(set-color(mint, 40), 0.08);
              }
            }
          }
        }
      }
    }

    &.-bordered {
      .chi-data-table__body {
        .chi-data-table__row {
          border-bottom: 0.0625rem solid set-color(grey, 80);

          .chi-data-table__cell {
            border: 0.0625rem solid set-color(grey, 80);
            border-bottom-width: 0;
          }

          & + .chi-data-table__row {
            .chi-data-table__cell {
              &:first-child {
                border-top-width: 0;
              }
            }
          }
        }
      }

      @include respond-to(md) {
        .chi-data-table__head,
        .chi-data-table__body {
          .chi-data-table__row {
            .chi-data-table__cell {
              border: 0.0625rem solid set-color(grey, 80);
              border-right-width: 0;

              &:last-of-type {
                border-right-width: 0.0625rem;
              }
            }
          }
        }

        .chi-data-table__head {
          .chi-data-table__row {
            .chi-data-table__cell {
              border-bottom: 0.125rem solid set-color(grey, 80);
            }
          }
        }

        .chi-data-table__body {
          .chi-data-table__row {
            border-bottom: 0;

            .chi-data-table__cell {
              border-top-width: 0;
            }
          }
        }
      }
    }
  }

  &.-portal {
    .chi-data-table__head {
      @include respond-to(md) {
        background-color: $portal-color-background-table-th;

        .chi-data-table__row {
          background-color: $portal-color-background-table-th;

          .chi-data-table__cell {
            border-bottom: 0.0625rem solid set-color(grey, 30);
          }

          &:last-child {
            .chi-data-table__cell {
              border-bottom: 0;
            }
          }
        }
      }
    }

    .chi-data-table__body {
      .chi-data-table__row {
        &:nth-child(even) {
          background-color: $portal-color-background-table-tr-alt;
        }

        .chi-data-table__cell {
          border-bottom: 0;
        }

        &.-active {
          background-color: $portal-color-background-table-tr-selected;
          box-shadow: inset 0.25rem 0 0 $primary-color;
        }

        &:hover,
        &.-hover {
          background-color: $portal-color-background-table-tr-selected;
        }
      }
    }

    &.-no-border {
      .chi-data-table__head,
      .chi-data-table__body {
        .chi-data-table__cell {
          @include respond-to(md) {
            border: 0;
          }
        }
      }
    }

    &.-striped {
      .chi-data-table__body {
        .chi-data-table__row {
          &:nth-child(even) {
            background-color: $portal-color-background-table-tr-alt;
          }

          &:nth-child(odd) {
            background-color: set-color(white);
          }
        }
      }
    }

    &.-hover {
      .chi-data-table__body {
        .chi-data-table__row {
          &:hover,
          &.-hover {
            @include respond-to(md) {
              background-color: $portal-color-background-table-tr-selected;

              &.-active,
              &.-selected,
              &.-expanded {
                background-color: $portal-color-background-table-tr-selected;
              }
            }
          }
        }
      }
    }

    &.-bordered {
      .chi-data-table__body {
        .chi-data-table__row {
          border-bottom: 0.0625rem solid set-color(grey, 30);

          .chi-data-table__cell {
            border: 0.0625rem solid set-color(grey, 30);
            border-bottom-width: 0;
          }

          & + .chi-data-table__row {
            .chi-data-table__cell {
              &:first-child {
                border-top-width: 0;
              }
            }
          }
        }
      }

      @include respond-to(md) {
        .chi-data-table__head,
        .chi-data-table__body {
          .chi-data-table__row {
            .chi-data-table__cell {
              border: 0.0625rem solid set-color(grey, 30);
              border-right-width: 0;

              &:last-of-type {
                border-right-width: 0.0625rem;
              }
            }
          }
        }

        .chi-data-table__head {
          .chi-data-table__row {
            .chi-data-table__cell {
              border-bottom: 0.125rem solid set-color(grey, 30);
            }
          }
        }

        .chi-data-table__body {
          .chi-data-table__row {
            border-bottom: 0;

            .chi-data-table__cell {
              border-top-width: 0;
            }
          }
        }
      }
    }
  }
}
